<div class="col-md-3" id="user_nav_partial">
  <div><%= render :partial => '/commons/topics_nav' %>
    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
<div class="col-md-9 container" id="course_data_container">
  <div id="space_above_first_course_bubble"></div>
    <div class="col-md-10 col-md-offset-1">
      <ul id="course_progress_topics">
        <li id="course_progress_topics">
        <% @topics.each do |topic| %>
        <li><%= topic.topic_name %><li>
        <% end %>
      </ul>
      <%= yield %>
    </div>
</div>
