





<div class="col-md-12" id="universal_container">
<div class="col-md-2" id="user_nav_partial">
  <div><%= render :partial => '/commons/user_nav' %>
    <% if current_user %>
    Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
  <div id="space_above_first_course_bubble"></div>
    <div class="col-md-10 col-md-offset-3">
      <% @topics.each do |topic| %>
      <div class="col-md-10" id="course_name"><%= topic.topic_name.capitalize %></div>
          <div class="col-md-4 progress_block w3-hover-shadow" id="wrapper">
          <div class="col-md-2" id="course_progress"></div>
          <div class="col-md-12 progress" id="progress_bar">
            <span class="progress-bar progress-bar-success" style="width: <%= @progress[topic]%>%"></span>
          </div>
        </div>
        <% end %>
    </div>
</div>
</div>
