<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Phone: <%= f.text_field :phone %>
  User Role: <%= f.text_field :user_role %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  avatar: <%= f.file_field :avatar %>

  <%= f.submit "Submit" %>
  <% end %>

<%= link_to 'Back', users_path %>
