<div class="col-md-12" id="universal_container">
<div class="col-md-2" id="user_nav_partial">
  <div><%= render :partial => '/commons/user_nav' %>
    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
<div class="col-md-10 container col-md-offset-2 ">
  <div class="col-md-10 progress_block w3-hover-shadow" id="available_lessons">
      <div class="col-md-10 progress" id="progress_bar">
        <div class="progress-bar progress-bar-success" style= "width:  <%=(@completed.count / current_user.lessons.count.to_f) * 100%>%"></div>
      </div>
  </div>
</div>

  <!-- The rest of the page goes here -->
</div>

<!-- <p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>User role:</strong>
  <%= @user.user_role %>
</p>
 -->



<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
