<div class="col-md-12" id="universal_container">
  <div class="col-md-2" id="user_nav_partial">
    <div id="signed_in_as"><%= render :partial => '/commons/user_nav' %>
      <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
      <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %>
    </div>
  </div>
  <div id="space_above_first_lesson_bubble"></div>
  <div class="col-md-10" id="space_replacing_course_name"></div>
  <% current_user.lessons.each do |lesson| %>
  <div class="col-md-10 container col-md-offset-3" id="user_screen_section">
    <div class="col-md-9 progress_block w3-hover-shadow" id="available_lessons">
      <div class ="col-md-2" id="course_progress"></div>
      <div class="col-md-9 progress" id="progress_bar">
        <div class="progress-bar progress-bar-success" style= "width: <%=(@completed.count / current_user.lessons.count.to_f).round(2) * 100%>%"></div>
      </div>
      <span class="col-md-3" id="lesson_dash_text"><%= lesson.lesson_name.capitalize %></span>
    </div>
  </div>
  <% end %>
  <!-- closes col-md-10 id="course_name", this section has
  upcoming lesson submissions -->
  <div class="col-md-10 col-md-offset-2">
    <div class="col-md-5" id="medals_section">
      <!-- <div class="col-md-offset-1" id="ml"> -->
        <ul class="medals">
          <li class="medal_list">
            <div class ="col-md-5 col-md-offset-1" id="badge_icon1"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon2"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon3"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon4"></div>
          </li>
        </ul>
      <div>
        <ul class="medals">
          <li class="medal_list">
            <div class ="col-md-5 col-md-offset-1" id="badge_icon5"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon6"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon7"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon8"></div>
          </li>
        </ul>
      </div>
      <div>
        <ul class="medals">
          <li class="medal_list">
            <div class ="col-md-5 col-md-offset-1" id="badge_icon9"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon10"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon11"></div>
          </li>
          <li>
            <div class ="col-md-5 col-md-offset-1" id="badge_icon12"></div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-5 col-md-offset-2" id="recent_submissions_section">
      <div class="" id="videos">
          <div id='publisherHolder' class="video-resize">
            <div id="publisher"></div>
          </div><!--same up to here -->
            <div id='replay' class='video-resize' hidden>
          </div>
          </div>
            <!-- </div> -->
            <div class="col-md-10" id="buttons">
            <button type="button" id="start" onClick="javascript:startArchive()" class="btn btn-info"><i class="material-icons">videocam</i></button>
            <button type="button" id="stop" onClick="javascript:stopArchive()" class="btn btn-info"><i class="material-icons">stop</i></button>
            <button type="button" id="view" onClick="javascript:viewArchive()" class="btn btn-info"><i class="material-icons">play_arrow</i></button>
            <button type="button" id="submit" onClick="javascript:submitArchive()" class="btn btn-info"><i class="material-icons">input</i></button>
            <!-- <button type="button" id="replay" onClick="javascript:viewArchive()" class="btn btn-info">Replay Session</button> -->
            </div>
          </div>
      </div>
      <!-- <div class="col-md-offset-1">
      Recent Lessons Submitted Section
    </div> -->
    </div>
