<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson_progress.lesson %>
</p>

<p>
  <strong>User:</strong>
  <%= @lesson_progress.user %>
</p>

<%= link_to 'Edit', edit_lesson_progress_path(@lesson_progress) %> |
<%= link_to 'Back', lesson_progresses_path %>
