<div id="full_user_nav">
  <div id="user_nav_top_section">
    <div class="" id="top_space_div"></div>
    <div class="circle" id="profile_picture">
      <%=link_to edit_user_path(current_user) do %>
      <%= (image_tag current_user.avatar.url(:thumb), class:'profile_pic')%>
      <% end %>
    </div>
    <h1 id="full_user_name"><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h1>
    <div class="" id="after_username_space_div"></div>
    <ul>
      <li id="completed_total">
      <div id="completed_total_text">Mastered</div>
      </li>
      <li id="pending_total">
        <div id="pending_total_text">pending</div>
        </li>
        </ul>
      </div>
      <br>
      <div class="list-group">
        <%=link_to user_path(current_user) do%>
        <div class="list-group-item">Paths</div>
        <% end %>
        <%=link_to user_courses_path(current_user.id) do%>
        <div class="list-group-item">Courses</div>
        <% end %>
        <%=link_to user_course_topics_path(current_user.id, @user_course) do %>
        <div class="list-group-item">Topics</div>
        <% end %>
        <%=link_to user_course_topic_lessons_path(current_user.id, @user_course, @user_topics) do %>
        <div class="list-group-item">Lessons</div>
        <% end %>
      </div>
    </div>
