<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_name %><br>
    <%= f.text_field :lesson_name %>
  </div>
  <div class="field">
    <%= f.label :lesson_description %><br>
    <%= f.text_field :lesson_description %>
  </div>
  <div class="field">
    <%= f.label :lesson_objective %><br>
    <%= f.text_field :lesson_objective %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.text_field :topic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
