<div class="col-md-2" id="user_nav_partial">
  <div><%= render :partial => '/commons/lessons_nav' %>
    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
<div class="col-md-10 container" id="lessons_data_container">
  <div id="space_above_first_course_bubble"></div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-1 progress_circle w3-hover-shadow" id="wrapper">

    </div>
      <% @lessons.each do |lesson| %>
        <div class="col-md-12 progress_block w3-hover-shadow" id="wrapper">
          <div class="col-md-12 progress" id="progress_bar">
            <span class="progress-bar progress-bar-success" style="width:50%"></span>
          </div>
        </div>
        <div class="col-md-12" id="course_name"><%= lesson.lesson_name.capitalize %></div>
      <% end %>
      <%= yield %>
      <!--  Closes col-md-12 -->
    </div>
</div>
