<div class="col-md-12" id="universal_container">
<div class="col-md-2" id="user_nav_partial">
  <div><%= render :partial => '/commons/user_nav' %>
    <% if current_user %>
    Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
<div id="space_above_first_lesson_bubble"></div>

<div class="col-md-10 col-md-offset-2" id="lesson_screen_section">
  <div class="col-md-12 col-md-offset-1">
  <div class="col-md-1 progress_circle w3-hover-shadow" id="wrapper"></div>
</div>
<div class="col-md-12 col-md-offset-1">
  <!-- <div class="col-md-10" id="course_name">course name</div> -->
  <div class="col-md-9 progress_block w3-hover-shadow" id="available_lessons">
      <div class="col-md-10 progress" id="progress_bar">
        <div class="progress-bar progress-bar-success" style="width:20%"></div>
      </div>
  </div>
</div>


  <div class="col-md-6">
    <div class="embed-container">
      <iframe src="//www.youtube.com/embed/B6-45rswo0o"></iframe>
    </div>
  </div>

  <div class="col-md-6">
    <!-- <div class="col-md-12" id="playback_frame"> -->
      <div class="" id="videos">
          <div id='publisherHolder' class="video-resize">
            <div id="publisher"></div>
          </div>
          <div id='replay' class='video-resize' hidden>
          </div>
      </div>
    <!-- </div> -->
    <div class="col-md-10" id="buttons">
      <button type="button" id="start" onClick="javascript:startArchive()" class="btn btn-info"><i class="material-icons">videocam</i></button>
      <button type="button" id="stop" onClick="javascript:stopArchive()" class="btn btn-info"><i class="material-icons">stop</i></button>
      <button type="button" id="view" onClick="javascript:viewArchive()" class="btn btn-info"><i class="material-icons">play_arrow</i></button>
      <button type="button" id="submit" onClick="javascript:startArchive()" class="btn btn-info"><i class="material-icons">input</i></button>
      <!-- <button type="button" id="replay" onClick="javascript:viewArchive()" class="btn btn-info">Replay Session</button> -->
    </div>
  </div>

</div>

  <div class="text_box_section">
    <div id="lesson_script">
      <div class="title">  Basic Beatbox Sounds </div>
      <div class="script">
        <p>This is a description of the lesson that is being viewed.</p>
      </div>
    </div>
  </div>

</div>
