<div class="col-md-3" id="user_nav_partial">
  <div><%= render :partial => '/commons/courses_nav' %>
    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>

<div class="col-md-9 container" id="course_data_container">
  <div id="space_above_first_course_bubble"></div>
    <div class="col-md-10 col-md-offset-1">
      <% @courses.each do |course| %>
      <div class="col-md-12" id="course_name"><%= course.course_name.capitalize %></div>
        <div class="col-md-12 progress_block">
          <div class="col-md-2" id="course_progress"></div>
          <div class="col-md-10 progress" id="progress_bar">
            <span class="progress-bar progress-bar-success" style="width:50%"></span>
          </div>
        </div>
      <% end %>

        <%= yield %>
    <!--  Closes col-md-12 -->
    </div>
</div>
